/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}
/*MOBIL*/

.container{
    max-width: 1500px ;
    margin: 0 auto;
    
}

/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
}

.hlavička {
    text-align: center;
   
}
.pozadí {
    background-image:url(../../images/island-hlavicka.jpg);
    background-size: cover;
    color: white;
      
}

.autor {
    padding-bottom: 60px;
    padding-top: 30px;
    border-top: 1px solid white;
   
}
/*
.autor::before {
    content:"";
    border-top: solid black 1px;
}
NEFUNGUJE /*

/* MENU */

a {
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
  
   
}
ul.menu{
    list-style-type: none;   
    padding:0 10px;
    margin-bottom: 50px;
    
    
}

li {
    border-bottom: solid 1px grey; 
    
} 


/* OBSAH */


.úvod {
    text-align: left;
}

h1 {padding-top: 20px;
}
 


img {
  
    padding-left: 0;
    padding-right: 0;
}

.popisek{
    text-align: center;
    text-decoration: none;
    color: gray;
    
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    margin-left: 20px; 
   
    
}

h2::after{
content:""; 
border-bottom: blue solid 1px;


}

.popisky {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: gray;
}

/* FOTOGALERIE */
/*
img {
     width: 500px;
     height: auto;
     padding-left: 0;
     padding-right: 0;

}*/
.foto {
    
        /*width: 500px;*/
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
}

.popisek{
    font-weight: bold;
}
.popisek-copy {
    font-weight: normal;
    
}
/* PATICKA */

.patička {
    background-color: #EAEFF3;
    color: grey;
    
}

/*---------------------------------------------------------------*/

/*TABLET*/



@media (min-width: 500px) {
 
    .container{
    
     display: block;
     
    }
        
/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    
}
  

/* MENU */
.menu{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-top: grey solid 1px;
    border-bottom:grey solid 1px; 
     
}
li {
    border-bottom:none; 
    
}
.úvod,
.proč, 
.co {
    margin-left: 30px;
    margin-right: 0px;
}    

.popisky {
 position: relative;
    text-align: right;
    top: -50px;
    color:grey;
    
}
/* OBSAH */

.island {
    width: 100%;
   
    padding-left: 0;
    padding-right: 0;
}


/* FOTOGALERIE */


.foto {
    
       width: 50%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        
}
.galerie{
    display: flex;
  flex-wrap: wrap;
    
}


.popisek {
    position: relative;
       text-align: right;
       top: -60px;
       right: 10px;
       color:grey;
       opacity: 0;
}

.popisek:hover,
.popisek:focus {
opacity: 1;

}



.foto {
margin: 0;
padding: 0;
}


/* PATICKA */
 }


 /*-----------------------------------------------------------*/
/*POČÍTAČ*/

@media (min-width: 1000px) {
 
    
 
        .container{
        
         display: block;
         
        }
            
    /* HLAVICKA */
    
    .titulek {
        font-family: 'Raleway', serif;
        
    }
    .pozadí{
        background-size: cover;
    }
    
    /* MENU */
    .menu{
      display: block;
       text-align: left;
       float: left;
       margin-right: 30px;
       border: none
      
        
    }
    
    ul.menu {
        text-align: left;
    }
    .úvod,
    .proč, 
    .co {
        margin-left: 30px;
        margin-right: 0px;
    }    
    
    
    /* OBSAH */
    
    .container {
        width: 960px;
        background-color: white;
        text-align: center;
        margin-left: 30px;
    }

    .island {
        width: 960px;
      /*  height: auto;*/
        padding-left: 0;
        padding-right: 0;
    }
    
    .proč{
        text-align: left;
        padding-right: 200px;
    }
    .co{
       
        text-align: left;
        padding-left: 200px;
        }

        img {
            text-align: left;
            width: auto;
        }

    /* FOTOGALERIE */
    
    
    .galerie{
        display: flex;
      
    }
    .foto{
       
        padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;  
            width: 33.333%;
    }
    /* PATICKA */ 
    .patička{
        text-align: left;
    }
    }
    
   
     